<div class="version">
    <h4>Version</h4>
    <h5>Die neue Version <b>Chocolate</b> ist da</h5>
    <div class="details">
        <div class="details-inner">
            <div class="left">
                Aktuelle Version
            </div>
            <div class="right">
                <section>
                    0.0.2 Alpha
                </section>
                <a href="https://TODO">
                    Release Notes
                </a>
            </div>
        </div>
        <div class="details-inner">
            <div class="left">
                Vorherige Version
            </div>
            <div class="right">
                <section>
                    0.0.1 Alpha
                </section>
                <a href="https://TODO">
                    Release Notes
                </a>
            </div>
        </div>
    </div>
</div>