@import "../../../../../styles.styl"

#dashboard
    display flex
    flex-direction column
    height 100%
    .content
        padding 0px 25px 25px 25px
        width 100%
        height auto
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content space-between
        flex-grow 1

        & > div
            flex-grow 1
            flex-basis 0

        .content-left
            margin-right: 5px
            display flex
            height auto
            justify-content space-between
            flex-wrap wrap

            #version,
            #tickets
                width 380px
                max-height 300px

            #calendar
                width 100%
                margin-top 30px

        .content-right
            margin-left 5px
