@import "../../../../../styles.styl"

#dashboard
    .content
        padding 0px 30px 30px 30px
        width calc(100% - 60px)
        height auto
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content space-between

        .content-left
            display flex
            width 55%
            height auto
            justify-content space-between
            flex-wrap wrap

            #version,
            #tickets
                width 380px
                max-height 300px

            #calendar
                width 100%
                margin-top 30px