@import "../../../../../styles.styl"

#dashboard
    .content
        padding 0px 30px 30px 30px
        width calc(100% - 60px)
        height auto
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content space-between

    #version,
    #tickets
        width 430px
        max-height 300px