@import "../../../../../styles.styl"

.project-item
    background white
    width 300px
    height auto
    padding 10px 20px
    box-sizing border-box
    cursor pointer
    transition all 300ms !important
    border-radius 5px

    h2
        text-align center
        color primary_dark

    h3
        font-weight normal
        font-size 17px
        text-align center

    &:hover
        background #cee0ff
