@import "../../../../../styles.styl"

.tickets
    .ticket-list
        width calc(100% - 20px)
        height auto
        padding 10px
        margin-top 5px
        
        ul
            margin-top 5px

        li
            width calc(100% - 20px)
            font-size 16px
            color gray
            font-weight 500
            padding 8px 10px
            margin 0
            cursor pointer
            border solid 1px lightgray
            border-bottom none
            transition all 200ms

            &:first-child
                border-top-left-radius 7px
                border-top-right-radius 7px

            &:last-child
                border-bottom solid 1px lightgray
                border-bottom-left-radius 7px
                border-bottom-right-radius 7px

            &:hover
                background secondary_light