<div id="project-details" *ngIf="project">
    <div class="top-part">
        <h2>{{ project.name }}</h2>
        <div class="short-info">
            <div class="date">
                Startdate: {{ project.startDate.toLocaleDateString() }}
            </div>
            <div class="date">
                Planned Enddate:
                {{ project.plannedEndDate.toLocaleDateString() }}
            </div>
        </div>
    </div>
    <div class="lower-part">
        <div class="teams">
            <h2>Teams</h2>
            <ul class="teams">
                <li *ngFor="let team of teams">
                    {team.name}
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="project-details" *ngIf="!project">
    Project not found!
</div>
