<div id="register" (keydown.enter)="onKeyDown()">
    <div class="container animated bounceInDown">
        <h1 class="title">
            Registrierung
        </h1>
        <div>
            <input [(ngModel)]="firstname" type="text" placeholder="Vorname" />
        </div>
        <div>
            <input [(ngModel)]="lastname" type="text" placeholder="Nachname" />
        </div>
        <div>
            <input [(ngModel)]="email" type="text" placeholder="Email" />
        </div>
        <div>
            <input
                [(ngModel)]="password_1"
                type="password"
                placeholder="Passwort"
            />
        </div>
        <div>
            <input
                [(ngModel)]="password_2"
                type="password"
                placeholder="Passwort wiederholen"
            />
        </div>
        <div>
            <div id="calendar-group">
                <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="birthdate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                />
                <div class="input-group-append">
                    <button
                        class="toggle-calendar"
                        (click)="d.toggle()"
                        type="button"
                    >
                        <fa-icon [icon]="faCalendar"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <button type="button" (click)="onRegister()" id="register">
                Weiter
            </button>
        </div>

        <p>
            Du hast bereits einen Account? Klick
            <a [routerLink]="['/login']">hier</a>, um dich einzuloggen.
        </p>
    </div>
    <div class="logo">
        <img src="/assets/logo/logo_transparent.png" alt="" />
    </div>
    <div class="copyright">
        <span>Ⓒ 2019 Vortex</span>
    </div>
</div>
