<div id="register">
  <div class="container">
    <h1 class="title">
      Registrieren
    </h1>
    <div id="form">
      <input type="text" placeholder="Email" />
      <input type="password" placeholder="Passwort" />
      <input type="password" placeholder="Passwort wiederholen" />
      <button (click)="onContinue()">Weiter</button>
    </div>
    <div id="hint">
      <p>
        Du hast bereits einen Account? Klick <a [routerLink]="['/']">hier</a> um
        zum Login zu kommen
      </p>
    </div>
  </div>
</div>
