@import "../../../../../styles.styl"

#add-project
    width 100%
    height 100%
    padding 30px

    h1
        font-size 26px
        color primary_dark

    input,
    textarea
        width 600px
        resize none
        background white
        border solid 1px lightgray
        padding 10px
        margin-bottom 15px
        border-radius 4px

    textarea
        height 150px

    p
        margin 0
        padding-bottom 5px
        padding-left 5px

    button
        color white
        cursor pointer
        background primary_dark
        padding 10px
        margin-left 10px
        border-radius 4px

    .add
        border-bottom-right-radius 0
        border-bottom-left-radius 0
        border-bottom none
        margin 0

    ul
        width 600px
        background white
        border solid 1px lightgray
        padding 10px
        border-top none

        i
            color #888
            padding-left 10px
            cursor pointer

        li
            font-size 15px

    #create
        width 600px
        margin 0
        margin-top 20px
        font-size 17px
        transition all 300ms

        &:hover
            opacity .8