<div id="sidebar">
    <div class="logo"></div>
    <div class="nav">
        <div class="dashboard icon icon-active">
            <i class="fas fa-tachometer-alt"></i>
        </div>
        <h3>
            Navigation
        </h3>
        <ul>
            <li class="icon">
                <div>
                    <i class="fas fa-clipboard-list"></i>
                </div>
                <span>
                    Projekte
                </span>
            </li>
            <li class="icon" (click)="test($event)">
                <div>
                    <i class="fas fa-briefcase"></i>
                </div>
                <span>
                    Aufgaben
                </span>
            </li>
            <li class="icon">
                <div>
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <span>
                    Kalendar
                </span>
            </li>
            <li class="icon">
                <div>
                    <i class="fas fa-ticket-alt"></i>
                </div>
                <span>
                    Tickets
                </span>
            </li>
            <li class="icon">
                <div>
                    <i class="fas fa-user-friends"></i>
                </div>
                <span>
                    Teams
                </span>
            </li>
        </ul>
    </div>
</div>
