<div id="login" (keydown.enter)="onKeyDown()">
    <div class="container animated bounceInDown">
        <h1 class="title">
            Login
        </h1>
        <div>
            <input [(ngModel)]="email" type="text" placeholder="Email" />
        </div>
        <div>
            <input [(ngModel)]="password" type="password" placeholder="Passwort" />
        </div>
        <div>
            <button type="button" (click)="onLogin()">Weiter</button>
        </div>
        <p>
            Du hast noch keinen Account? Klick <a [routerLink]="[ '/register' ]">hier</a> und erstelle deinen Gratis-Account.
        </p>
    </div>
    <div class="logo">
        <img src="/assets/logo/logo_transparent.png" alt="">
    </div>
    <div class="copyright">
        <span>Ⓒ 2019 Vortex</span>
    </div>
</div>