<div id="header">
    <div id="inner-header">
        <div class="left-side">
            <div id="new-project" class="button-field">
                <button class="plus">
                    <div id="plus">
                        <i class="fas fa-plus"></i>
                    </div>
                    Neues Projekt erstellen
                </button>
            </div>
            <div class="button-field"><button>Help</button></div>
            <div class="button-field"><button>Inbox</button></div>
            <div class="button-field"><button>Vortex</button></div>
        </div>
        <div class="right-side">
            <div class="button-field flag">
                <button>
                    <i class="fas fa-flag"></i>
                    <span *ngIf="amountUnseenMessages > 0">{{ amountUnseenMessages }}</span>
                </button>
            </div>
            <div class="button-field">
                <button>
                    Max Mustermann
                    <img src="../../../../assets/test-user.png" alt="user" />
                </button>
            </div>
        </div>
    </div>
</div>
